<div class="jumbotron center">
	
	<% if user_signed_in? %>

		<% puts %> <h2> Want to find out our secrets <%= current_user.username %>? </h2>


	<% else %>


	<h1>Make some <i>Jack</i>.</h1>
	<h2><i> (you want this) </i></h2>
	<br>
	
	<h3>
		<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</h3>

	<% end %>



</div>